@font-face {
  font-family: "Barlow Condensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.eot");
  src: url("../fonts/BarlowCondensed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BarlowCondensed-Regular.woff2") format("woff2"),
    url("../fonts/BarlowCondensed-Regular.woff") format("woff"),
    url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed-Bold";
  src: url("../fonts/BarlowCondensed-Bold.eot");
  src: url("../fonts/BarlowCondensed-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BarlowCondensed-Bold.woff2") format("woff2"),
    url("../fonts/BarlowCondensed-Bold.woff") format("woff"),
    url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed-Light";
  src: url("../fonts/BarlowCondensed-Light.woff2") format("woff2"),
    url("../fonts/BarlowCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed-ExtraLight";
  src: url("../fonts/BarlowCondensed-ExtraLight.woff2") format("woff2"),
    url("../fonts/BarlowCondensed-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}