footer {
  padding: 50px 15px;
  background: $blue;
  color: $w;

  span {
    color: $w;
  }

  .container {
    @include cont;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
