header {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $w;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 15px;
  transition: 0.7s;
  z-index: 10;

  &.shadow {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.29);
  }

  .container {
    @include cont;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.active {
    .mobile_button {
      transform: rotate(-45deg);

      span {
        &:nth-child(1) {
          top: 9px;
        }

        &:nth-child(2) {
          transform: rotate(90deg);
        }

        &:nth-child(3) {
          width: 0;
        }
      }
    }
  }

  .logo {
    display: flex;

    img {
      max-height: 60px;

      @media (max-width: 360px) {
        max-height: 50px;
      }
    }

    h2 {
      text-transform: capitalize;
      color: $blue;
      font-size: 23px;
      font-family: $b_bold;
      margin-left: 20px;
    }
  }

  nav {
    position: relative;
    @include fb;

    a, span {
      font-family: $b_light;
      color: $blue;
      text-transform: capitalize;
      font-size: 15px;
      display: inline-block;
      margin: 0 25px;

      &.btn {
        margin: 0 0 0 25px;
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: 0 5px 25px 0 rgba(0,0,0,.25);
      }

      &:hover {
        color: $red;
      }
      .wrapp-search{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin-left: 45px;
        position: relative;
        .inner{
            background: #fff;
            border-radius: 26px;
            position: absolute;
            right: 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            padding-left: 10px;
        }
        .search{
          max-width: 0;
          overflow:hidden;
          border:none;
          width: 100%;
          max-width: 0;
          width: 100vw;
          padding-left: 14px;
          margin-right: -20px;
          font-size: 16px;
          transition: .3s;
          line-height: 22px;
        }
        .icon-search{
            font-size: 0;
            border: none;
            padding: 14px;
            cursor: pointer;
            margin-left: -14px;
            border-radius: 26px;
            position: relative;
            background: #fff;
            z-index: 2;
            svg{
                width: 24px;
                height: 24px;
            }
        }
        &.show{
          .search{
            margin-right: 0;
            max-width: 250px;
          }
        }
      }
    }
    span{
        margin-right: 0;
    }

    @media (max-width: 360px) {
      height: calc(100% - 69px);
    }
  }

  .mobile_button {
    transition: 0.4s;
    cursor: pointer;
    margin-left: auto;
    display: none;

    span {
      background: #000;
      display: block;
      width: 40px;
      height: 2px;
      margin: 8px 0;
      transition: 0.4s;
      position: relative;

      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }
}
@media (max-width: 992px) {
  header {
    &.active {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.29);

      nav {
        box-shadow: -4px 12px 20px 0px rgba(0, 0, 0, 0.44);
        right: 0;
      }
    }

    nav {
      position: fixed;
      right: -320px;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 300px;
      background: $w;
      white-space: pre-line;
      padding: 30px 0px;
      height: calc(100% - 79px);
      transition: 0.4s;
      overflow: auto;

      a {
        padding: 10px 0;
        font-size: 27px;

        &.btn {
          margin: 40px auto 25px;
          display: block;
          text-align: center;
          width: 215px;
        }
      }
    }

    .mobile_button {
      display: block;
    }
  }
}
@media screen and (max-width: 992px){
    header nav span{
        margin-left: 0;
        width: 100%;
    }
    header nav span .wrapp-search{
        margin-left: 0;
        width: 100%;
        margin-top: 25px;
        .search{
            max-width: 250px;
            margin-right: 0;
        }
        .inner{
            width: 100%;
        }
    }
    header nav a.btn, header nav span.btn{
        box-shadow: 0 0px 25px 0 rgba(0,0,0,.25);
    }
}