.section_line,
.datat_sources {
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 45px 0;

    &.first {
        padding-top: 0;
        padding-bottom: 250px;
        background: url("../img/bg1.png") no-repeat center 100%;
        background-size: contain;

        .block_title {
            font-size: 50px;
        }

        .img {
            box-shadow: none;
            border-radius: 0;

            @media (max-width: 992px) {
                width: 50%;
            }
        }

        .content {
            padding-top: 0;

            .block_title {
                @media (max-width: 772px) {
                    font-size: 38px;
                    text-align: center;
                }
            }

            p {
                @media (max-width: 772px) {
                    text-align: center;
                }
            }
        }

        @media (max-width: 772px) {
            padding-bottom: 160px;
        }
    }

    &.features {
        margin-top: -150px;

        @media (max-width: 600px) {
            margin-top: 0;
        }
    }

    &.two {
        padding-bottom: 580px;
        background: url("../img/bg2.png") no-repeat center 100%;
        background-size: contain;

        @media (max-width: 772px) {
            padding-bottom: 250px;
        }
    }

    &:nth-child(odd) {
        .container {
            .content {
                order: 0;
                margin-left: 0;
                margin-right: 100px;
            }

            .img {
                order: 1;
            }
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include cont;
        max-width: 1050px;
    }

    @media (max-width: 772px) {
        padding: 25px 0;
    }
}

.coming-soon {
    .content {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 250px;
            left: -30px;
            height: 100px;
            width: 180px;

            background: transparent url("../img/coming-soon__image.svg") center center no-repeat;
            background-size: contain;

            @media (max-width: 500px) {
                top: 190px;
            }

            @media (min-width: 1140px) {
                left: -50px;
                height: 130px;
            }

            @media (min-width: 642px) {
                height: 120px;
                width: 200px;
            }
        }
    }
}

.container {
    .img {
        width: 100%;
        max-width: 400px;
        display: block;
        box-shadow: 0 12px 71px -14px rgba(0, 0, 0, 0.59);
        border-radius: 10px;
    }

    .numb {
        height: 200px;
        width: 150px;
        margin-right: 45px;
        display: block;
        filter: drop-shadow(0 65px 35px rgba(167, 189, 216, 1));

        @media (max-width: 500px) {
            height: 110px;
            width: 90px;
            margin-right: 25px;
        }

        .st0 {
            fill: #a7bdd8;
        }
    }

    .content {
        width: 100%;
        max-width: 500px;
        margin-left: 100px;
        padding-top: 40px;

        &:after {
            content: '';
            clear: both;
            display: table;
        }

        div {
            display: block;
            width: 100%;
        }

        .numb {
            float: left;
        }

        .block_title {
            text-align: left;
        }

        h2,
        p,
        .under_img {
            width: calc(100% - 195px);
            float: right;
        }

        h2 {
            @media (max-width: 500px) {
                width: calc(100% - 115px);
                margin-bottom: 55px;
            }
        }

        p {
            @media (max-width: 500px) {
                width: 100%;
                float: none;
                font-size: 17px;
            }

            &:before {
                @media (max-width: 500px) {
                    content: '';
                    clear: both;
                    display: table;
                }
            }
        }

        p,
        span {
            display: block;
            font-size: 16px;
            line-height: 1.4;
            margin-bottom: 20px;
            text-align: left;
        }
    }
}

.datat_sources {
    background-color: $light-blue;
    padding: 140px 0 250px;
    margin-bottom: -200px;

    .container {
        margin-right: 0;
        max-width: 1320px;
        justify-content: flex-end;
        align-items: center;
        padding-right: 0;

        .head_tab {
            position: relative;
            z-index: 2;

            li {
                width: 430px;
                display: flex;
                align-items: center;
                color: $blue;
                padding: 0 40px 0 20px;
                box-shadow: -23px 23px 74px -6px rgba(13, 25, 63, 0.19),
                    -23px 0 30px -21px rgba(13, 25, 63, 0.19) inset;
                margin-bottom: 25px;
                height: 70px;
                cursor: pointer;
                position: relative;
                z-index: 0;
                transition: 0.2s;
                background: $w;

                span {
                    font-size: 26px;
                    font-family: $b_bold;
                    opacity: 0.7;
                }

                &.active {
                    background: $w;
                    box-shadow: -44px 21px 74px -13px rgba(13, 25, 63, 0.49);

                    span {
                        opacity: 1;
                    }

                    &::after {
                        width: 70px;

                        @media (max-width: 992px) {
                            width: 100%;
                        }
                    }

                    @media (max-width: 992px) {
                        box-shadow: none;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: -30px;
                    background-color: $red;
                    width: 0;
                    height: 3px;
                    transform: translateY(-50%);
                    transition: 300ms linear width;

                    @media (max-width: 992px) {
                        top: inherit;
                        bottom: 0;
                        right: 0;
                        transform: translateY(0);
                    }
                }

                @media (max-width: 992px) {
                    width: 33.33%;
                    margin-bottom: 0;
                    padding: 5px 10px;
                    box-shadow: none;

                    span {
                        width: 100%;
                        text-align: center;
                    }
                }

                @media (max-width: 700px) {
                    width: 100%;
                }
            }

            @media (max-width: 992px) {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
        }

        .body_maps {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 445px;
            box-shadow: 0 18px 97px 0 rgba(13, 25, 63, 0.3);
            border-left: 30px solid $w;
            position: relative;
            z-index: 1;
            background: $w;

            .map {
                background: #000;
                display: none;
                align-items: center;
                justify-content: center;
                position: absolute;
                width: 100%;
                height: 100%;
                color: $w;

                &.active {
                    display: flex;
                }
            }

            @media (max-width: 992px) {
                border-left: none;
            }
        }

        @media (max-width: 992px) {
            flex-wrap: wrap;
            padding-right: 15px;
        }
    }

    @media (max-width: 992px) {
        margin-bottom: 0;
        padding-bottom: 80px;
    }
}

.cantack_us {
    width: 100%;
    display: block;
    position: relative;
    padding: 70px 15px 150px;
    z-index: 2;

    .block_title {
        display: block;
        text-align: center;
        font-size: 50px;
    }

    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 1040px;
        margin: auto;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 12px 71px -14px rgba(0, 0, 0, 0.59);

        img {
            object-fit: cover;
            height: 250px;
            width: calc(100% + 30px);
            height: 250px;
            margin: 0 -15px;

            @media (min-width: 1065px) {
                width: 50%;
                height: 100%;
            }
        }

        &-invite {
            max-width: 600px;
        }

        @media (min-width: 1065px) {
            flex-wrap: nowrap;
        }
    }

    .form {
        width: 100%;
        display: block;
        align-items: stretch;
        padding: 60px 60px 25px;
        text-align: center;
        background: $w;

        &-header {
            font-family: "Lato-Regular";
            font-size: 22px;
            color: #0d193f;
            display: block;
            margin-bottom: 35px;
        }

        input[type="checkbox"]+label {
            display: block;
            cursor: pointer;
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]+label::before {
            content: "\2714";
            border: 0.1em solid #000;
            border-radius: 0.2em;
            display: inline-block;
            width: 1em;
            height: 1em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: 0.2s;
        }

        input[type="checkbox"]+label:active::before {
            transform: scale(0);
        }

        input[type="checkbox"]:checked+label::before {
            background-color: $red;
            border-color: $red;
            color: #fff;
        }

        input[type="checkbox"]:disabled+label::before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type="checkbox"]:checked:disabled+label::before {
            transform: scale(1);
            background-color: #bfb;
            border-color: #bfb;
        }

        .line {
            position: relative;
            width: 100%;
            margin-bottom: 20px;
            padding-bottom: 20px;
            text-align: left;

            &.error {
                label {
                    color: $red;
                }

                .error {
                    display: block;
                }
            }

            .error {
                font-size: 13px;
                color: $red;
                font-family: $m_bold;
                position: absolute;
                left: 0;
                bottom: 0;
                display: none;
            }
        }

        label {
            display: block;
            font-family: $l_bold;
            font-size: 15px;
        }

        textarea {
            height: 90px;
        }

        input,
        textarea {
            width: 100%;
            border: 0;
            resize: none;
            padding: 7px 0px;
            font-size: 22px;
            font-family: $l_bold;

            &:focus {
                &+.focus_line {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }

        .focus_line {
            position: relative;
            width: 100%;
            height: 2px;
            background: $blue;
            display: block;

            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 100%;
                left: 0;
                bottom: 0;
                background: $red;
                transition: 0.4s;
            }
        }

        .btn {
            padding: 15px 70px;
        }

        @media (max-width: 762px) {
            padding: 40px 20px 30px;
        }

        @media (max-width: 400px) {
            padding: 40px 5px 30px;
        }
    }
}

@media (max-width: 992px) {
    .section_line {
        &.first {
            .container {
                .img {
                    margin-top: 10px;
                }
            }
        }

        .container {
            display: block;
        }
    }

    .container {
        .img {
            display: block;
            margin: 20px auto;
        }

        .content {
            max-width: 100%;
            text-align: center;
            margin: 0 auto;
        }
    }
}


/* =========== Style by like_me4  ============== */
.f-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-blog-top {
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: -50px;

    .main-content {
        justify-content: center;
        -ms-align-items: flex-start;
        align-items: flex-start;
        padding-top: 100px;

        h1 {
            font-family: $b;
            color: $w;
            font-weight: 900;
            margin: 0;
            font-size: 60px;
            line-height: 50px;
            margin-right: 60px;
        }

        p {
            margin: 0;
            font-family: $lato;
            color: $w;
            font-size: 18px;
            line-height: 28px;
            max-width: 585px;
        }
    }

    .main-bg {
        width: 100%;
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.section-blog-top+.section-category-page {
    margin-top: -30px;

    .category {
        &:first-child {
            padding-top: 0;
        }
    }
}

.section-category-page {
    h1 {
        font-size: 60px;
        line-height: 72px;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        font-family: $b;
        font-weight: 900;
    }

    p {
        font-size: 17px;
        font-weight: 600;
        line-height: 24px;
    }

    .top-on-page {
        padding-top: 25px;
        padding-bottom: 20px;

        .left-block {
            width: 100%;
        }
    }

    .category {
        padding-top: 75px;
        padding-bottom: 50px;

        &:last-child {
            padding-bottom: 100px;
        }

        h3 {
            font-size: 25px;
            line-height: 40px;
            font-weight: bold;
            color: #333333;
            display: inline-block;
            position: relative;
            margin-bottom: 30px;
            margin-top: 0;
            text-transform: uppercase;

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                height: 2px;
                background: $dark_pink;
                width: 100%;
                left: 0;
                margin-top: -1px;
            }
        }
    }

    .row-blocks {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 10px;
    }

    .block-4 {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;

        .inner {
            background: #fff;
            box-shadow: 0 2px 15px 1px rgba(0, 0, 0, .1);
            display: block;

            &>img {
                width: 100%;
            }

            .text {
                padding: 30px;

                h4 {
                    margin-top: 0;
                    font-weight: bold;
                    font-size: 22px;
                    margin-bottom: 20px;
                    color: #000;
                    font-family: $b, sans-serif;
                }

                p {
                    margin: 0;
                    font-size: 17px;
                    font-weight: 400;
                    color: #000;
                    line-height: 24px;
                    font-family: $lato;
                }

                .read_more {
                    display: inline-block;
                    margin-top: 45px;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        color: $dark_pink;
                        font-family: $l;
                        font-weight: 900;
                    }

                    img {
                        width: 22px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .sub-category-link {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: flex-start;
        -ms-align-items: center;
        align-items: center;

        span {
            color: $dark_pink;
            font-weight: bold;
            font-size: 18px;
            font-family: $l_bold;
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
        }

        img {
            margin-left: 12px;
            width: 24px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.section-article-page {
    padding-bottom: 120px;

    .container {
        width: 860px;
    }

    .top-row {
        margin-bottom: 13px;
    }

    .controls {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        a {
            width: 12px;
            margin-left: 17px;
            margin-right: 17px;
        }
    }

    .head-article {
        img {
            width: 100%;
        }

        h1 {
            font-size: 30px;
            font-weight: 900;
            line-height: 36px;
            margin-top: 44px;
            margin-bottom: 20px;
        }

        .sharing-buttons {
            margin-bottom: 40px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: flex-start;
            -ms-align-items: center;
            align-items: center;

            a {
                margin-left: 10px;
                margin-right: 10px;
                width: 60px;
                height: 60px;
                display: inline-block;
                padding: 0;
                border-radius: 50%;
                box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            }
        }
    }

    .content-article {
        img {
            width: 100%;
        }

        p {
            font-size: 17px;
            line-height: 24px;
            font-weight: 400;
            margin-bottom: 12px;

            em {
                font-family: $l;
                font-weight: 400;
                font-style: italic;
            }
        }

        h2 {
            font-size: 28px;
            font-weight: 700;
            line-height: 34px;
            margin-top: 20px;
            margin-bottom: 20px;
            strong {
                font-weight: 900;
            }
        }
        h3 {
            font-size: 26px;
            font-weight: 700;
            line-height: 32px;
            margin-top: 20px;
            margin-bottom: 15px;
        }
        h4 {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        h5 {
            font-size: 22px;
            font-weight: 700;
            line-height: 32px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        h6 {
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        ul{
            li{
                list-style-type: disc;
            }
        }
        ol, ul{
            padding-left: 30px;
            margin-top: 5px;
            margin-bottom: 15px;
            li{
                margin-bottom: 2px;
                font-size: 17px;
                line-height: 24px;
                font-weight: 400;
                font-family: $lato;
                font-weight: 400;
            }
        }
        blockquote{
            border-left: 4px solid #000;
            padding-left: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            cite{
                font-size: 14px;
                color: #777;
            }
        }
        a {
            color: #469CCC;
            text-decoration-color: fade(#469CCC, 0);

            &:hover {
                text-decoration-color: fade(#469CCC, 1);
            }
        }
    }
}

.section-subscribe {
    margin-top: -1px;
    background: #b21244;

    .choose {
        label {
            input:checked+span {
                background: #722121;

                svg {
                    .cls-1 {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .left-text {
        color: #fff;

        h3,
        p {
            margin: 0;
        }

        h3 {
            font-size: 25px;
            line-height: 35px;
            font-weight: bold;
            margin-bottom: 7px;
            color: #fff;
        }

        p {
            font-size: 15px;
            font-weight: 500;
            color: #fff;
        }
    }

    .left-img {
        max-width: 170px;
    }

    .choose {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;

        &>span {
            margin: 0 12.5px;
            font-size: 14px;
            color: #fff;
            font-weight: 300;
            display: inline-block;
            vertical-align: middle;
        }

        label {
            cursor: pointer;

            input {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                left: -99999px;
                top: -99999px;
            }

            span {
                display: inline-block;
                width: 50px;
                height: 50px;
                padding: 10px;
                background: #8E3636;
                border-radius: 50%;
                transition: .3s;

                svg {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .field {
        margin-right: 30px;
        margin-left: 30px;
    }

    input.input-value {
        background: rgba(0, 0, 0, .2);
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 25px;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        outline: none;
        color: #fff;
        border: none;

        &::-webkit-input-placeholder {
            color: #DC889D;
        }

        &::-moz-placeholder {
            color: #DC889D;
        }

        &:-ms-input-placeholder {
            color: #DC889D;
        }

        &:-moz-placeholder {
            color: #DC889D;
        }
    }

    button,
    .btn {
        border-radius: 25px;
        font-size: 12px;
        line-height: 25px;
        font-weight: bold;
        border: none;
        padding: 12.5px 26px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        outline: none;
        transition: .3s;
        background: #540924;
        margin-left: 30px;

        &:hover {
            background: darken(#540924, 8);
        }
    }

    .btn {
        margin-left: 20px;
        white-space: nowrap;

        img {
            width: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
        }
    }

    .cls-1 {
        fill: #fff;
        opacity: .3;
        transition: .3s;
    }
}

.breadcrump {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;

    img {
        width: 18px;
        height: 18px;
        margin-left: 9px;
        margin-right: 9px;
    }

    ul {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        margin: 0;

        li:before {
            content: '/';
            color: #EF5749;
            padding-left: 5px;
            padding-right: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

        li {
            color: #000;
            font-weight: 500;
            padding-left: 15px;
            position: relative;

            a {
                color: #000;
                white-space: nowrap;
            }
        }
    }
}

.faq-blocks {
    margin-top: 40px;
    margin-bottom: 40px;

    .faq-block {
        margin-top: 15px;
        margin-bottom: 15px;

        &.show {
            .faq-block-title .icon {
                &:after {
                    height: 2px;
                }
            }
        }

        .faq-block-title {
            background: #30456E;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            font-size: 30px;
            line-height: 36px;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            cursor: pointer;

            .icon {
                margin-left: 18px;
                margin-right: 18px;
                width: 30px;
                height: 30px;
                position: relative;
                font-size: 0;

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:after {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 100%;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .3s;
                }
            }
        }

        .faq-block-content {
            transition: .3s;

            .inner {
                padding-top: 15px;
                padding-bottom: 5px;

                p {
                    font-weight: 300;
                    font-size: 20px;
                }
            }
        }

        &:not(.show) .faq-block-content {
            max-height: 0 !important;
            overflow: hidden;
        }
    }
}

.section-with-table {
    padding-top: 60px;
    font-weight: 300;
    font-size: 20px;
}

.section-result-search {
    padding-top: 30px;

    h2 {
        text-align: center;
        font-size: 60px;
        font-family: $b;
        line-height: 72px;
        margin-top: 0;
        margin-bottom: 35px;
        text-transform: uppercase;
    }

    .container {
        width: 800px;
    }

    .btn {
        padding-top: 12px;
    }

    .btn span {
        color: #fff;
        font-family: $m_bold, sans-serif;
        font-weight: bold;
    }

    .search {
        padding-left: 42.5px;
        padding-right: 42.5px;
        margin-bottom: 95px;

        input {
            font-size: 15px;
            font-weight: 300;
            line-height: 22px;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-left: 23px;
            padding-right: 23px;
            border-radius: 25px;
            border: none;
            box-shadow: 0 1px 30px 5px rgba(0, 0, 0, .15);
            width: 100%;
            outline: none;
            color: #1a1a1a;
        }

        button {
            margin-left: 30px;
            background: #1F375E;
            border-color: #1F375E;
            padding-top: 13px;
            padding-bottom: 13px;
            padding-right: 40px;
            flex-shrink: 0;
            outline: none;

            span {
                display: inline-block;
                vertical-align: middle;
                text-transform: uppercase;
            }

            img {
                width: 19px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 7px;
            }
        }
    }

    .item {
        font-size: 0;
        margin-bottom: 40px;
        -ms-align-items: flex-start;
        align-items: flex-start;
        box-shadow: 0 0 15px rgba(0, 0, 0, .05);
        display: block;

        &>img {
            width: 35%;
            height: 100%;

            &+.text {
                width: 65%;
            }
        }

        .text {
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;

            h3 {
                margin-top: 0;
                font-size: 25px;
                line-height: 28px;
                margin-bottom: 10px;
                color: #16284c;
                font-weight: bold;
                font-family: $b;
                letter-spacing: -.3px;
            }

            p {
                margin-top: 10px;
                margin-bottom: 0;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: -0.8px;
            }

            .read_more {
                margin-top: 15px;
            }
        }
    }

    .read_more {
        display: inline-block;
        margin-top: 45px;
        font-weight: bold;
        text-transform: uppercase;

        span {
            display: inline-block;
            vertical-align: middle;
            color: #b21244;
            font-family: $l;
            font-weight: 900;
            font-size: 16px;
        }

        img {
            width: 22px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    .no-results {
        text-align: center;
        margin-bottom: 100px;

        h3 {
            font-size: 30px;
            margin-top: 35px;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 1440px) {
    .section-blog-top {
        overflow: hidden;

        .main-bg {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: initial;
            z-index: -1;
            height: 100%;
        }

        .container {
            position: static;
            width: 1200px;

            .main-content {
                padding-bottom: 200px;
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .breadcrump {
        margin-top: 20px;
    }

    .section-subscribe {
        .main-row {
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-bottom: 30px;

            &>* {
                width: 100%;
            }

            .left-img {
                max-width: 130px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .section-category-page .block-4 {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 600px) {
    .section-category-page .block-4 {
        width: 100%;
        max-width: 400px;

        .inner {
            h4 {
                font-size: 18px;
            }

            .text {
                padding: 15px;
            }
        }
    }

    .section-blog-top .container .main-content {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        h1 {
            text-align: center;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }

    .section-article-page .top-row {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        .controls {
            order: -1;
            align-self: flex-end;
        }

        .breadcrump {
            -ms-align-self: flex-start;
            align-self: flex-start;
        }
    }

    .section-article-page .top-row {
        margin-top: -20px;
    }

    .breadcrump {
        -ms-align-items: flex-start;
        align-items: flex-start;
    }

    .breadcrump img {
        margin-top: 2px;
    }

    .breadcrump ul {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .section-subscribe {
        .right-side .d-flex {
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
        }

        .input-value {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .section-subscribe .btn,
    .section-subscribe button {
        margin-left: 0;
    }

    .section-result-search h2 {
        font-size: 30px;
        line-height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .section-category-page {
        padding-top: 0;
    }

    .section-category-page h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .section-category-page .top-on-page {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section-category-page .category {
        padding-top: 40px;
    }

    .section-article-page .content-article p {
        font-size: 16px;
        line-height: 22px;
    }

    .faq-blocks .faq-block {
        .faq-block-title {
            font-size: 24px;
            line-height: 28px;

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .faq-blocks .faq-block .faq-block-content .inner p {
        font-size: 15px;
    }

    .section-result-search {
        padding-top: 0;
    }

    .section-result-search .search {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;

        input {
            width: 100%;
        }

        button {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 425px) {
    .section-subscribe .left-text {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .section-subscribe .main-row>.block-6:not(.right-side) {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;

        .left-text {
            width: 100%;
        }
    }

    .section-result-search .item .text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .section-subscribe input.input-value {
        width: 100%;
    }
}