.sources {
  background-color: $light-blue;
  padding: 40px 0;

  &-header {
    font-family: "Barlow Condensed-Regular";
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;

    &__wrap {
      width: 100%;
    }

    @media (min-width: 720px) {
      font-size: 55px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    &__item {
      max-height: 50px;
      max-width: 150px;
      margin: 15px;

      @media (min-width: 720px) {
        max-height: 80px;
        max-width: 300px;
        margin: 25px;
      }
    }
  }

  .container {
    @include cont;
    max-width: 1050px;
  }
}
