@mixin fb {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cont($max_width: 1250px) {
  width: 100%;
  max-width: $max_width;
  margin: auto;
  padding: 0 15px;
}

@mixin br($c: red) {
  border: 1px solid $c;
}

@mixin abs($position: absolute) {
  position: $position;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 1;
  background: rgba(73, 86, 103, 0.67);
}

@mixin w($w: auto, $h: auto) {
  min-width: $w + px;
  max-width: $w + px;
  width: 100%;
  height: $h + px;
  min-height: $h + px;
}

@mixin bs() {
  box-shadow: 0 4px 26px -2px rgba(0, 0, 0, 0.15);
}

$w: #fff;
$red: #a12349;
$dark_blue: #101543;
$blue: #0d193f;
$light-blue: #f0f6ff;
$dark_pink: #b21244;

$m_reg: "Montserrat-Regular";
$m_bold: "Montserrat-Bold";
$b_bold: "Barlow Condensed-Bold";
$b_reg: "Barlow Condensed-Regular";
$lato: "Lato-Regular";
$l_bold: "Lato-Bold";
$b_light: "Barlow Condensed-Light";

$b: "Barlow", sans-serif;
$l: "Lato", sans-serif;
