@import "lib";
@import "vars";
@import "fonts";
@import "static";
@import "header";
@import "main";
@import "footer";
@import "sources";

body {
  &.hidden {
    overflow: hidden;
  }
}

.socials {
  @include fb;

  .btn {
    margin: 0 20px;
  }
}

.btn {
  text-align: center;
  border-radius: 300px;
  @include fb;
  padding: 15px 45px;
  border: 2px solid $w;
  text-transform: uppercase;
  cursor: pointer;
  color: $w;
  font-family: $m_bold;
  margin: 25px auto;
  box-shadow: 0 5px 45px 0 rgba(0, 0, 0, 0.33);
  font-size: 14px;
  // width: 255px;
  display: inline-block;
  // white-space: nowrap;
  transition: 0.2s linear background;

  svg {
    display: block;
    margin: -7px 11px -7px 0;
    fill: $w;
    @include w(30px, 30px);
  }

  &.round {
    border-radius: 50%;
    @include w(40, 40);

    @include fb;
    padding: 0;
    svg {
      margin: auto;
      width: 40%;
      height: 40%;
    }
  }

  &:active {
    box-shadow: 0 5px 45px 0 rgba(0, 0, 0, 0.33) inset;
  }

  &.red {
    background: $red;
    color: $w;
    border-color: $red;
    transition: all 0.2s linear;

    &:hover {
      background: $w;
      color: $red;

      svg {
        fill: $red;
      }
    }

    &.light {
      background: $w;
      border-color: $red;
      color: $red;

      &:hover {
        background: $red;
        color: $w;
      }
    }
  }

  &.login {
    background: $dark_blue;
    border-color: $red;

    &.right {
      margin: 0 0 45px auto;
      padding: 24px 35px;
    }
  }

  &.or {
    border-color: $red;
    font-family: $b_reg;
    position: relative;
    border: 0;
    box-shadow: none;
    pointer-events: none;
    background: transparent;
    font-size: 20px;

    @include fb;

    &::before,
    &::after {
      content: "";
      width: 25px;
      height: 1px;
      background: $w;
      display: block;
      margin: auto 15px;
    }
  }

  &.google {
    background: #b1493a;
    border-color: #b1493a;
  }

  &.facebook {
    background: #47539f;
    border-color: #47539f;

    svg {
      @include w(20px, 20px);
    }
  }

  &.phone,
  &.email {
    background: $red;
    border-color: $red;

    svg {
      @include w(20px, 20px);
    }
  }
}

.block_title {
  font-family: $b_bold;
  font-size: 35px;
  color: $blue;
  display: block;
  margin-bottom: 35px;
}
